
.box {
    width: 300px;
    display: inline-block; 
    margin: 10px; 
    padding-top: 10px; 
    padding-bottom: 10px; 
    padding-left: 20px; 
    padding-right: 20px; 
    border: 1px solid rgb(172, 9, 82); 
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(12, 142, 124, 0.2); 
    text-align: left; 
}
dt {
    font-weight: 500; 
}


.ongoingStatus {
    color: rgb(225, 143, 21);
}

.otherStatus {
    color: rgb(174, 124, 38);
}